.loader{
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #088f8f;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1.5s linear infinite;
    margin-top: 20px;
    margin-bottom: 25px;
}
@-webkit-keyframes spin{
    0%{-webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}