.container {
  width: 70%;
  margin: auto;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.line {
  width: 60%;
  margin-top: 10px;
  height: 1px;
  border-width: 0;
  background-color: rgba(114, 114, 114, 0.747);
}
.container div {
  font-family: "open sans";
  size: 13px;
  font-weight: 800;
  color: #444;
}
