.Allcourse{
    background-color: #FFFFFF;
    margin: 0%;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right:200px;
    padding-bottom: 20px;
}
.Allcourse_course{
margin: 0%;
}