.container{
    transition: all .5s ease-in-out;
    width: 85%;
    margin: auto;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    background-color: #ccc;
    padding: .5rem .4rem;
    border-radius: .3rem;
}
.line {
    width: 60%;
    margin-top: 10px;
    height: 1px;
    border-width: 0;
    background-color: rgba(114, 114, 114, 0.747);
  }
  .container div{
      font-family: "open sans";
      size: 13px;
      font-weight: 800;
      color: #444;
  }

  @media screen and (max-width: 600px) {
    .container{
        width: 85%;
    }
    .line {
        width: 85%;
    }
  }