.container {
  padding: 2rem;
  border-radius: 0.3rem;
  margin: auto;
  width: 45%;
  background-color: #eee;
  margin-top: 20px;
  margin-bottom: 20px;
}
.title {
  margin: 0;
  letter-spacing: 1px;
  font-family: roboto;
  font-size: 23px;
  color: #046666;
}
.line {
  margin-top: 10px;
  width: 100%;
  height: 1px;
  border-width: 0;
  color: #046666;
  background-color: #046666;
}
.report_container {
  /* background-color: gray; */
  box-shadow: 0 0 4px 1px rgba(51, 51, 51, 0.411);
  /* border: 2px solid #333; */
  padding: 0.5rem 0.4rem;
  border-radius: 0.3rem;
  width: 85%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
.report_container span {
  font-family: "open sans";
  font-weight: 700;
  font-size: 1.2rem;
  color: #333;
}
.message {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: red;
  font-family: "open sans";
  font-weight: 700;
}
.loader {
  margin: auto;
  margin-left: 45%;
  margin-top: 3.4rem;
  margin-bottom: 3.4rem;
}
.no_data {
  margin: auto;
  margin-top: 3.4rem;
  margin-bottom: 3.4rem;
  background-color: #eee;
  color: red;
  font-family: "open sans";
  font-weight: 800;
  text-align: center;
  padding: 2rem 3rem;
  width: 50%;
}
@media screen and (max-width: 600px) {
  .report_container {
    width: 85%;
  }
}
.head_container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.btn_pdf {
  background-color: #046666;
  padding: 0.4rem 0.5rem;
  border-radius: 0.3rem;
  border: 0;
  outline: 0;
  color: #fff;
  cursor: pointer;
}
