.container {
    margin: auto;
    padding: 5px;
    position: fixed;
    height: 30%;
    top: 30vh;
    left: 35%;
    width: 30%;
    z-index: 100;
    overflow: hidden;
    background-color: #14b6c8;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  .title{
      text-transform: capitalize;
      margin: 10px;
      color: red;
      font-family: roboto;
      font-size: 25px;
  }
  .buttons{
      margin: 40px 50px;

      display: flex;
      justify-content: space-between;
  }
  .deleteButton{
   
      justify-content: left;
      font-weight: bold;
      border-radius: 10px;
      border: 0px;
      outline: 0px;
      background-color: rgba(255, 0, 0, 0.74);
      color: #fff;
      padding: 5px 30px;
      font-size: 17px;
      font-family: "open sans";
  }
  .cancel{
    justify-content: right;
      font-weight: bolder;
      border: 0px;
      outline: 0px;
      border-color: transparent;
      color: #fff;
      padding: 4px 10px;
      font-size: 17px;
      font-family: "open sans";
  }
  .cancel:hover {
      cursor: pointer;
      color: #000000;
      transition-property: all;
      transition-duration: .5s;
  }
  .deleteButton:hover{
      cursor: pointer;
      color: #000000;
      background-color: red;
      font-size: 18px;
      transition-property: all;
      transition-duration: .5s;
  }
  .inputs{
    margin-bottom: 20px;
    width: 50%;
    height: auto;
    padding: 5px;
    margin-left: 25%;
    margin-top: 10px;
    border: 0px ;
    font-family: roboto;
    font-size: 1rem;
    outline: none;
    color: #333;
    background-color:#14b6c8;
    outline-style: solid;
    border-radius: 10px;
    outline-width: 2px;
 
}
.lables{
    font-family: "open sans";
    font-weight: bold;
    font-size: 15px;
    margin-left: 30%;
    color:#444444;
}
.img{
    width: 20px;
    height: 20px;

    cursor: pointer;
    position: absolute;
    margin-left: -28px;
    margin-top: 14px;

 
}