.table_container{
    width: 80%;
    background-color: #ddd;
    margin: auto;
    text-align: justify;
    margin-top: 1.6rem;
    padding: 10px;
    border-collapse: collapse;
}
.table_container tr{
    padding: .6rem;
    /* border: 2px solid #333; */
}
.table_container td{
    width: 50%;
    border: 0.12rem solid #088F8F;
    padding: 1rem;
    font-family: "open sans";
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: -.5px;
    color: #088F8F;
}
@media screen and (max-width: 530px) {
    .table_container td{
        font-size: 1rem;
        overflow: visible;
    }
  }