.container {
  margin: auto;
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.message {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: red;
}
.span {
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
  display: flex;
  background-color: #ddd;
  justify-content: space-between;
  padding: .4rem .5rem;
  border-radius: .3rem;
}
.name {
  font-family: "open sans";
  font-weight: 800;
  font-size: 1rem;
  width: 50%;
}
.btn {
  width: 50%;
  text-align: right;
}
.btn span {
  cursor: pointer;
  color: red;
  font-family: "open sans";
  font-weight: 800;
  width: 50%;
  text-align: right;
}
.line {
  width: 95%;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
  height: 0.4px;
  color: #666;
  background-color: #666;
  margin-bottom: 1rem;
}
.head{
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-family: "open sans";
  font-size: 1rem;
}