.container{
    padding: 35px;
    margin: auto;
    width: 90%;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
}

.line {
    margin-top: 10px;
    width: 100%;
    height: 1px;
    border-width: 0;
    color: rgb(250, 255, 255);
    flex-grow: 1; 
    background-color: rgb(255, 255, 255);
  }

  .message{
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      color: red;
  }

  .report_container{
      justify-content: space-between;
  }