.card {
  box-shadow:  0 0 3px 1px #ddd;
    background-color: #333;
    border-radius: 15px;
    margin: 20px;
    width: 25%;
    text-align: center;
  }
  .jobPoster {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 200px;
    box-shadow: 2px 0px 4px rgba(51, 51, 51, 0.212);
  }
  .jobname {
    text-transform: capitalize;
    color: #14b6c8;
    font-size: 17px;
    font-family: "open sans";
    font-weight: bold;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 5px;
    padding-left: 10px;
  }
  .companyname {
    text-transform: capitalize;
    color: rgb(52, 52, 247);
    font-size: 12px;
    font-family: "open sans";
    font-weight: bold;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 1px;
    padding-left: 10px;
  }
  .description {
    color: #eee;
    margin-bottom: 10px;
    text-align: justify;
    font-size: .7rem;
    padding: 10px;
  }
  .viewMore {
    float: right;
    padding: 2px 5px;
    color: #14b6c8;
    margin: 0 10px 10px 0;
    border: 0px;
    outline: 0px;
    width: auto;
    cursor: pointer;
    border-radius: 5px;
    font-family: "open sans";
    font-size: 12px;
    font-weight: 800;
  }
  .icons {
    transition: all 0.3s ease-in-out;
    margin-left: 10px;
    height: 20px;
    padding-bottom: 3px;
    border-bottom: 3px solid rgba(51, 51, 51, 0);
  }
  .icons:hover {
    transform: scale(1.1);
    transition-property: all;
    cursor: pointer;
    border-bottom: 3px solid #088f8f;
  }
  .icon_container {
    margin: 10px;
    float: right;
  }
  .icon_container a{
    size: .8rem;
    font-weight: 800;
    color: rgb(10, 10, 185);
  }
  .icon_container a:last-child{
    color: rgb(190, 7, 7);
    cursor: pointer;
    padding-left: 1rem;
  }
  .icon_container a:first-child{
    color: rgb(7, 190, 38);
    cursor: pointer;
    padding-right: 1rem;
  }
  .icon_container a:first-child:hover{
    color: rgb(9, 226, 45);
  }
  .icon_container a:last-child:hover{
    color: red;
  }
  .icon_container a:hover{
    color: blue;
  }
  