.aside {
  border-radius: 1rem 0 0 1rem;
  text-align: center;
  position: relative;
  width: 25%;
  border-right: 3px solid #046666;
}
.mainSec {
  transition: all .4s ease-in;
  margin-top: 1rem;  display: flex;
  margin: auto;
  width: 65%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: .3rem;
}
.main_side {
  position: relative;
  width: 75%;
}

@media screen and (max-width: 800px) {
  .aside {
    display: none;
  }
}
