.container {
  width: 50%;
  margin: auto;
  background-color: #eee;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.details_container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: .5rem;
}
.line {
  width: 90%;
  margin: auto;
  height: 1px;
  background-color: rgba(68, 68, 68, 0.473);
  margin-bottom: 1rem;
}
