.container {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  margin-bottom: 8px;
  justify-content: space-between;
  background-color: rgba(214, 213, 213, 0.747);
  border-radius: 8px;
  
}
.line {
  width: 80%;
  margin-top: 1%;
  height: 1px;
  border-width: 0;
  background-color: rgba(114, 114, 114, 0.747);
}
.container div {
  font-family: "open sans";
  font-size: 14px;
  font-weight: 800;
  color: #444;
  width: 12.89999%;
  margin-left: 2%;
  margin-top: 2.5%;
}

.img_buttons {
  margin: auto;
  padding: 10px 10px;
  background-color: #14b6c8;
  margin: 1px 6px 20px 2px;
  border-radius: 2px;
  width: 15px;
  border-radius: 10px;
  height: 15px;
}

.img_buttons:hover {
  cursor: pointer;
  background-color: #088f8f;
}

.img_buttonsD {
  margin: auto;
  padding: 10px 10px;
  background-color: #e95541;
  margin: 1px 6px 20px 2px;
  border-radius: 2px;
  width: 15px;
  border-radius: 10px;
  height: 15px;
}

.img_buttonsD:hover {
  cursor: pointer;
  background-color: #bb3422;
}

.right_items {
  margin-right: 30px;
  margin-left: 15%;
 
}

.iconM {
  width: 55px;
  height: 45px;
}
