.containerM {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.iconM {
  width: 2rem;
  height: 2rem;
}
.hidden_popup {
  margin: auto;
  outline: 0px;
  border: 0px solid;
  border-radius: 11px;
  background-color: #0099ff;
  padding: 2px 5px;
  font-size: .9rem;
  font-family: "Open Sans";
  font-weight: bold;
}
.title {
  /* max-width: 20%; */
  text-align: justify;
  text-transform: none;
  margin: auto;
  color: #333;
  padding: 2px 10px;
  font-size: .9rem;
  font-family: "Open Sans";
  font-weight: bold;
}
 .title a ,  .title a:active , .title a:visited {

   color: #333;
 }
.img_buttons {
  transition: all .3s ease-in;
  margin: auto;
  padding: 10px 10px;
  background-color: #14b6c8;
  margin: 0 2px 0 2px;
  border-radius: 2px;
  width: 1.2rem;
  border-radius: 10px;
  height: 1.2rem;
}
.img_buttonsD {
  transition: all .3s ease-in;
  margin: auto;
  padding: 10px 10px;
  background-color: #14b6c8;
  margin: 0 2px 0 2px;
  border-radius: 2px;
  width: 1.2rem;
  border-radius: 10px;
  height: 1.2rem;
}

.img_buttons:hover {
  cursor: pointer;
  background-color: #088f8f;
}
.img_buttonsD:hover {
  cursor: pointer;
  background-color: rgb(240, 65, 65)
}

.check_box {
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
}
.line {
  margin-top: .3rem;
  width: 90%;
  height: 1px;
  border-width: 0;
  color: gray;
  background-color: rgba(128, 128, 128, 0.658);
}
.left_items {
  display: flex;
  justify-content: left;
  max-width: 70%;
 
  margin-left: 15px;
}
.right_items {
  margin-right: 25px;
}
.popup{
  position: absolute;
}

@media screen and (max-width: 540px) {
  .hidden_popup {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .img_buttons{
    padding: .6rem;
  }
}
