.aside {
  text-align: center;
  position: relative;
  width: 20%;
  border-right: 3px solid #046666;
}
.mainSec {
  display: flex;
  margin: auto;
  width: 85%;
  background-color: #fff;
}
.main_side {
  text-align: center;
  position: relative;
  width: 80%;
}


@media screen and (max-width: 950px) {
  .aside {
    display: none;
  }
  .main_side {
    width: 100%;
  }
    
}
.loader{
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 500px) {
  .mainSec {
    width: 95%;
  }
}
