.aside {
  text-align: center;
  position: relative;
  width: 20%;
  border-right: 3px solid #046666;
}
.mainSec {
  display: flex;
  margin: auto;
  width: 85%;
  background-color: #fff;
}
.main_side {
  text-align: center;
  position: relative;
  width: 80%;
}

@media screen and (max-width: 950px) {
  .aside {
    display: none;
  }
  .main_side {
    width: 100%;
  }
}
.loader {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 500px) {
  .mainSec {
    width: 95%;
  }
}
.addWeek {
  cursor: pointer;
  font-family: roboto;
  font-size: 1rem;
  color: rgb(14, 14, 172);
  transition: all 0.3s ease-in;
  text-align: center;
  background-color: #aaa;
  width: 10%;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 5px 10px;
  border-radius: 0.2rem;
}
.addWeek:hover {
  background-color: #046666;
  color: #fff;
}
.loader{
  margin: auto;
}