.ModuleEnrollment_cardView{
  

    width: 50%;
    background-color: #FFFFFF;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 0px;
}
.title{
    margin: 0px;
    font-family: roboto;
    font-size: 27px;
    color: #046666;
    font-size: xx-large;
}

.lables{
    font-family: "open sans";
    font-weight: bold;
    font-size: 15px;
    color:#046666 ;
}
.formContainer{
    
   
    outline-width: thin;
    padding:20px;
    border:1px solid #046666;
    
}
.inputs{
   
    width: 50%;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    align-content: center;
    margin-left: 20%;
    border-radius: 10px;
    font-family: roboto;
    font-size: 1rem;
    outline: none;
    color: #333;
    background-color: #FFFFFF;
    
   

}
.back2{
    color:darkgray;
    

}
.back3{
    color:darkolivegreen;
}


/* .back
{
    
    outline-style: solid;
    outline-color: #046666;
    outline-width: thin;
    padding:5px;
    border:2px solid #046666;
} */

.save{
    margin: auto;
    margin-top: 25px;
    
    padding: 3px 15px;
    display: flex;
    background-color: transparent;
    border: 2px solid #14B6C8;
    font-family: roboto;
    font-size: 20px;
    border-radius: 10px;
    color: #14B6C8;
}
.save:hover{
    cursor: pointer;
    background-color: #14B6C8;
    color: #333;
    transition-property: all;
    transition-duration: .5s;
}