.ModuleEnrollment_cardView {
  width: 50%;
  padding: 3%;
  /* background-color: #ffffff; */
  background-color: #ddd;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 0px;
}
.ModuleName {
  width: 90%;
  margin: auto;
  font-family: roboto;
  font-size: 27px;
  color: #046666;
  font-size: xx-large;
  text-transform: uppercase;
}

.lables {
  font-family: "open sans";
  font-weight: bold;
  font-size: 15px;
  color: #046666;
}
.formContainer {
  outline-width: thin;
  margin: auto;
  width: 100%;
  border: 1px solid #046666;
}
.inputs {
  margin: auto;
  width: 20%;
  margin-left: 39%;
  height: auto;
  margin-top: 1rem;
  align-content: center;
  border-radius: 0.5rem;
  font-family: roboto;
  font-size: 1rem;
  outline: none;
  color: #333;
  padding: 0.5rem 0.2rem;
  background-color: transparent;
  text-align: center;
  letter-spacing: 1.5px;
  border: 2px solid rgb(11, 11, 170);
}
.save {
  margin: auto;
  margin-top: 1.5rem;
  padding: 3px 15px;
  display: flex;
  background-color: transparent;
  border: 2px solid #14b6c8;
  font-family: roboto;
  font-size: 20px;
  border-radius: 10px;
  color: #14b6c8;
  margin-bottom: 1rem;
}
.save:hover {
  cursor: pointer;
  background-color: #14b6c8;
  color: #333;
  transition-property: all;
  transition-duration: 0.5s;
}
