.App {
  text-align: center;
}
html{
  scroll-behavior: smooth;
  font-family: 'Open Sans';
  margin: 0px;
  padding: 0px;
  background-color: #444444;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 0.7em;
  }
}

.dummy{
  height: 10rem;
}