.main {
  display: block;
  margin: auto;
  width: 85%;
  background-color: #fff;
  padding: 5px;
}

.main_space {
  border: 0px;
  padding: 20px;
  box-shadow: 2px 3px 8px #888888;
  border-left: 30px solid #046666;
  background-color: #fff;
  margin: 0%;
  margin-right: 3%;
  width: auto;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: #046666;
  font-size: xx-large;
  font-weight: bolder;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
}
.plusIcon {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
}
.plusIcon:hover {
  cursor: pointer;
  background-color: #e7dcdc;
  transition-property: all;
  transition-duration: 0.5s;
}
.main_space1 {
  margin: 30px;
}
.loader{
 
    display: flex;
    justify-content: center;
  
}

@media screen and (max-width: 800px) {
  .aside {
    display: none;
  }
}
