.activelink {
  text-decoration: none;
  background-color: #046666;
  padding: 6px 9px;
  border-radius: 10px;
  color: #fff;
}

.navi {
  margin-top: 0px;
  color: #fff;
}

.navi ul {
  display: inline-block;
}
.navi li {
  margin-left: 0px;
  display: inline-block;
  color: #fff;
}
.links {
  margin-right: 10px;
  padding: 6px 9px;
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.max {
  font-size: 2.5rem;
  display: none;
  padding: 4px 0px 0px 4px;
}
.modal {
  transition: all 0.5s ease-in-out;
  background-color: #333;
  z-index: 6;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  /* padding: 5px; */
}
.burger__link {
  text-decoration: none;
  display: flex;
  color: #088f8f;
  padding: 10px;
  font-size: 17px;
  font-family: sans-serif;
  /* border-bottom: 1px solid rgb(0, 0, 0); */
}

@keyframes niro {
  from {
    top: -100%;
  }
  to {
    top: 0px;
  }
}

@media screen and (max-width: 670px) {
  .navi {
    display: none;
  }
  .max {
    display: block;
  }
  .profile {
    display: none;
  }
  .modal {
    animation: niro 0.5s ease-in;
  }
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.profile {
  border-radius: 50%;
  transition: all 0.4s ease-in;
  width: 3rem;
  height: 3rem;
  margin-top: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  box-shadow: 0 0 3px 1px #046666;
}
.profile:hover {
  transform: scale(1.06);
  transition: all 0.4s;
}
